<body>
<div class="col-md-3 signupform">
    <h1><span class="color-change">Instagram</span></h1>
    <p>Signup to see photos and videos from your friends</p>

<button class="btn btn-success btn-block"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;
    <a style="color:white" href="https://www.facebook.com/"> Log In with Facebook</a></button>
    
    <div>
        <p class="border1">
            
                <p class="Or">Or</p>
    </div>
    <form action="" #form="ngForm" (ngSubmit)="submit(form)">
        <div class="form-group">
            <input ngModel type="text" name="email" autocomplete="off" class="form-control mb-2 mt-2"
                placeholder="Mobile Number or Email" required>

            <input ngModel name="fullname" type="text" name="fullname" autocomplete="off" class="form-control mb-2 mt-2"
                placeholder="FullName " required>

            <input ngModel name="fullname" type="text" name="Username" autocomplete="off" class="form-control mb-2 mt-2"
                placeholder="Username" required>

            <input ngModel name="password" type="password" name="password" autocomplete="off"
                class="form-control mb-2 mt-2" placeholder="Password" required>

            <button class="btn btn-block btn-primary">Sign up</button>
            <div class="aggre">
                <p>By signing up, you agree to our <a href="#">Terms</a>, <a href="#"> Policy </a> and <a
                        href="#">Policy. </a> </p>
            </div>
        </div>
        
    </form>
</div>

<div class="col-md-3 login">
    <span>Have an Account ? <a class="text-primary" href="#">Login</a></span>
    

</div>
<ul>
<li><a href="https://about.instagram.com/about-us">About us</a></li>
<li><a href="https://help.instagram.com/">Support</a></li>
<li><a href="https://instagram-press.com/">Press</a></li>
<li><a href="https://www.instagram.com/developer/">Api</a></li>
<li><a  href="https://www.instagram.com/about/jobs/">Job</a></li>
<li><a href="https://help.instagram.com/581066165581870">Term</a></li>
<li><a href="https://www.instagram.com/directory/profiles/?hl=en">Directory</a></li>
<li><a href="https://help.instagram.com/110121795815331">Profile</a></li>
<li><a href="https://www.all-hashtag.com/top-hashtags.php">Hastags</a></li>
<li><a href="https://help.instagram.com/111923612310997">Language</a></li>

</ul>

</body>